:root {
  font-family: "Roboto Mono Variable", "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  line-height: 1.58;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(231, 228, 239, 0.91);
  background-color: #101014;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(185, 185, 189, 0.4);
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #101014;
  color: rgba(231, 228, 239, 0.91);
  color-scheme: dark;
}

#root {
  min-height: 100vh;
}
